<h1>Edit series</h1>

<form id="edit-series" name="series">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Series" />
  </div>

</form>

<a href="#/index">Back</a>