<h1>Listing pages</h1>

<table id="pages-table">
  <tr>
    <th>Day</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Send time</th>
    <th>Send zone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Page</a>