<div id="days"></div>

<script type="text/javascript">
  $(function() {
    window.router = new CrankTest.Routers.DaysRouter({days: <%= @days.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>