<div id="series_name">
  <!-- Series name, save and delete -->  
</div>

<span id="series_day_list">
    <!-- Left side tabs -->
</span>
<span id="series_day_edit">
  <div id="series_email">
    <!-- Email send day and time -->
  </div>

  <div id="series_data">
    <!-- Editable info -->
  </div>
</span>