<span id="series_name_span">
  <input id="series_name_input" type="text" placeholder="Add name for series" value="<%= name %>"></input>
</span>
<span id="series_name_buttons">
  <button id="back">Back</button>
  <button id="save">Save</button>
  <button id="delete" >Delete</button>
</span>