<span class="email">
  Send email on day
</span>
<input id="day_input" type="text" size="3" value=""></input> 
<span class="at">
  at 
</span>
<div class="btn-group series_time">
  <button class="btn dropdown-toggle" data-toggle="dropdown">a <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href='#'>1am</a></li>
      <li><a href='#'>2am</a></li>
      <li><a href='#'>3am</a></li>
      <li><a href='#'>4am</a></li>
      <li><a href='#'>5am</a></li>
      <li><a href='#'>6am</a></li>
      <li><a href='#'>7am</a></li>
      <li><a href='#'>8am</a></li>
      <li><a href='#'>9am</a></li>
      <li><a href='#'>10am</a></li>
      <li><a href='#'>11am</a></li>
      <li><a href='#'>12pm</a></li>
      <li><a href='#'>1pm</a></li>
      <li><a href='#'>2pm</a></li>
      <li><a href='#'>3pm</a></li>
      <li><a href='#'>4pm</a></li>
      <li><a href='#'>5pm</a></li>
      <li><a href='#'>6pm</a></li>
      <li><a href='#'>7pm</a></li>
      <li><a href='#'>8pm</a></li>
      <li><a href='#'>9pm</a></li>
      <li><a href='#'>10pm</a></li>
      <li><a href='#'>11pm</a></li>
      <li><a href='#'>12am</a></li>
    </ul>
</div>
<div class="btn-group series_time">
  <button class="btn dropdown-toggle" data-toggle="dropdown">b <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href='#'>PDT</a></li>
      <li><a href='#'>PST</a></li>
      <li><a href='#'>MDT</a></li>
      <li><a href='#'>MST</a></li>
      <li><a href='#'>CDT</a></li>
      <li><a href='#'>CST</a></li>
      <li><a href='#'>EDT</a></li>
      <li><a href='#'>EST</a></li>
      <li><a href='#'>AKDT</a></li>
      <li><a href='#'>AKST</a></li>
      <li><a href='#'>HADT</a></li>
      <li><a href='#'>HAST</a></li>
      <li><a href='#'>HST</a></li>
    </ul>
</div>
