<span class="email">
  Send email on day
</span>
<input id="day_input" type="text" size="3" value="1"></input> 
<span class="at">
  at 
</span>
<div class="btn-group series_time">
  <button class="btn dropdown-toggle" data-toggle="dropdown">2pm <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1am</a></li>
      <li><a href="#">2am</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">11pm</a></li>
    </ul>
</div>
<div class="btn-group series_time">
  <button class="btn dropdown-toggle" data-toggle="dropdown">PST <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">DST</a></li>
      <li><a href="#">GMT</a></li>
    </ul>
</div>