<p class="subject_label">Subject</p>
<input id='subject' type="text" value="<%= subject %>"></text>
<p class="email_label">Email Message</p>
<textarea><%= message %></textarea>
<p class="content_label">Select content to send</p>
<div class="btn-group content_select">
  <button class="btn dropdown-toggle" data-toggle="dropdown">Cisco 7500 Router <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Cisco 6500 Router</a></li>
      <li><a href="#">Cisco 7200 Router</a></li>
      <li><a href="#">Cisco 7500 Router</a></li>
      <li><a href="#">Cisco 7600 Router</a></li>
    </ul>
</div>