<ul>
  <li class="active"><span class="series_day">Day 1</span><span class="series_title">Routing with BGP</span></li>
  <li><span class="series_day">Day 2</span><span class="series_title">Switching for Pros</span></li>
  <li><span class="series_day">Day 3</span><span class="series_title">Advanced Mesh Networks</span></li>
  <li class="clicked"><span class="series_day">Day 4</span><span class="series_title">Routing with BGP</span></li>
  <li><button>Add a new page</button></li>
</ul>