// Place all the styles related to the CrankApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

body {
  font-family: 'Merriweather Sans', sans-serif;

  height:1436px;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(241,242,244)),color-stop(1, rgb(206,212,217)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  background-image:linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  border-color:rgb(200,206,215);
  border-width:1px;
  border-style:solid;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff1f2f4,endColorstr=#ffced4d9,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff1f2f4,endColorstr=#ffced4d9,GradientType=0);  
}

/* Top logo Bar */

#crankhead {
  height: 59px;
  background-color: #FFFFFF;
}

/* CrankApps logo */

#crank_apps_logo {
  position: absolute;
  top: 10px;
  left: 137px;
}

/* Sales Marker Logo */

#sales_marker_logo {
  position: absolute;
  top: 19px;
  left: 935px;
}

#sales_marker_logo > .powered_by {
  font-size: 11px;
  color:rgb(173,173,173);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px 1px 0px rgba(255,255,255,0.65);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true);
}

#sales_marker_logo > .sales_marker {
  font-size: 15px;
  color:rgba(153,153,153,0.6);
}

/* Blue nav bar */

.cranknav {
  width: 100%;
  height: 39px;
  background: #1bc4ff;
  background: -moz-linear-gradient(top,  #1bc4ff 0%, #0a96d2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc4ff), color-stop(100%,#0a96d2));
  background: -webkit-linear-gradient(top,  #1bc4ff 0%,#0a96d2 100%);
  background: -o-linear-gradient(top,  #1bc4ff 0%,#0a96d2 100%);
  background: -ms-linear-gradient(top,  #1bc4ff 0%,#0a96d2 100%);
  background: linear-gradient(to bottom,  #1bc4ff 0%,#0a96d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc4ff', endColorstr='#0a96d2',GradientType=0 );
}

#login {
  position: absolute;
  top: 64px;
  left: 963px;
  font-size:11px;
  font-weight:bold;
  line-height:120%;
  color:rgb(255,255,255);
  text-align:left;
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}

.white-arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
}


/* Left side navigation */

.leftnav {
  background-color:rgb(250,250,250);
  position:absolute;
  left:0px;
  width:180px;
  height:1314px;
  border-color:rgb(215,223,232);
  border-width:1px;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #73ced4d9,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #73ced4d9,Positive = true);
}

.leftnav.lefttop {
  position:relative;
  top: 0px;
  left: 0px;
  height: 80px;
}

#create_new {
  position:relative;
  top:18px;
  left:10px;
}

.leftnav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


.leftnav > ul li {
  height:30px;
  padding-top: 6px;
  color:#999999;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;
}

.leftnav > ul li div.icon {
  float: left;
  width: 42px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 14px 0px; 
}

.leftnav > ul li.briefcase div.icon {
  background-image: url(/assets/briefcase_icon_grey.png);
}

.leftnav > ul li.briefcase.active div.icon {
  background-image: url(/assets/briefcase_icon_blue.png);
}

.leftnav > ul li.bullseye div.icon {
  background-image: url(/assets/bullseye_icon_grey.png);
}

.leftnav > ul li.bullseye.active div.icon {
  background-image: url(/assets/bullseye_icon_blue.png);
}


.leftnav > ul li.active {
  color:#0B99D6;
  border-color:rgb(215,223,232);
  border-width:1px;
  border-style:solid;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 108%,color-stop(0, rgb(231,232,235)),color-stop(0.01, rgb(231,232,235)),color-stop(1, rgb(241,243,244)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);
  background-image:linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);

  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe7e8eb,endColorstr=#fff1f3f4,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #73ced4d9,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe7e8eb,endColorstr=#fff1f3f4,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #73ced4d9,Positive = true);
}

/* Main program */

.main {
  background-color:rgb(250,250,250);
  position:absolute;
  height:1338px;
  left:129px;
  width:800px;
  padding-left: 180px;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 0px 11px rgba(0,0,0,0.17);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 0px 11px rgba(0,0,0,0.17);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 0px 11px rgba(0,0,0,0.17);
  -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=11)";
  filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=11);
}

.main > div.series_name {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(-42% -55% -90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,-42% -55%,-42% 2%,color-stop(0, rgba(231,232,235,0.4)),color-stop(0.01, rgba(231,232,235,0.4)),color-stop(1, rgba(241,243,244,0.4)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  background-image:linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  width:799px;
  height:79px;
  border-color:rgba(215,223,232,0.4);
  border-width:1px;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.18);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.18);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 3px 0px rgba(206,212,217,0.18);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66e7e8eb,endColorstr=#66f1f3f4,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #2eced4d9,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66e7e8eb,endColorstr=#66f1f3f4,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #2eced4d9,Positive = true);
}

.main > div.series_name > input {
  padding: 0px 8px;
  background-color:rgb(255,255,255);
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  width:482px;
  height:40px;
  position:relative;
  left:18px;
  top:18px;
  font-weight:bold;
  line-height:120%;
  color:rgb(31,31,31);
  text-align:left;
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px 1px 0px rgba(255,255,255,0.65);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true);
}

.main > div.series_name > button#save {
  position:absolute;
  left:822px;
  top:32px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(255,255,255);


  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(124,209,44)),color-stop(1, rgb(95,160,33)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  background-image:linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  width:50px;
  height:24px;
  border-color:rgb(72,131,15);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:1px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:1px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:1px ;
  border-style:solid;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7cd12c,endColorstr=#ff5fa021,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7cd12c,endColorstr=#ff5fa021,GradientType=0);
}

.main > div.series_name > button#delete {
  position:absolute;
  left:881px;
  top:32px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(255,255,255);

  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(219,36,0)),color-stop(1, rgb(165,19,5)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  background-image:linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  width:70px;
  height:24px;
  border-color:rgb(140,19,0);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:1px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:1px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:1px ;
  border-style:solid;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdb2400,endColorstr=#ffa51305,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdb2400,endColorstr=#ffa51305,GradientType=0);
}

.series_day_list > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.series_day_list > ul > li {
  background-color:rgb(249,249,249);
  width:248px;
  height:64px;
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
}

.series_day_list > ul > li.active {
  border-color:rgb(224,230,237) rgb(249,249,249) rgb(224,230,237) rgb(224,230,237);
}

.series_day_list > ul > li.clicked > span {
  opacity: 0.1;
}

.series_day_list > ul > li > .series_day {
  position:relative;
  top: 22px;
  left: 17px;
  color:rgb(153,153,153);
  font-style:italic;
  font-size:11px;
}

.series_day_list > ul > li > .series_title {
  position:relative;
  left: 44px;
  top: 22px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(11,153,214);
  text-align:left;
}

.series_day_list > ul > li.active > .series_title {
  font-weight:bold;
  color:rgb(51,51,51);
}

.series_day_list > ul > li > button {
  position: relative;
  top: 19px;
  left: 45px;
  font-size: 12px;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 81%,color-stop(0, rgb(251,251,251)),color-stop(1, rgb(232,232,232)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  background-image:linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  width:160px;
  height:28px;
  border-color:rgba(0,0,0,0.2);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:3px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:3px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:3px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 2px 0px rgba(153,153,153,0.4);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 2px 0px rgba(153,153,153,0.4);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 2px 0px rgba(153,153,153,0.4);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbfbfb,endColorstr=#ffe8e8e8,GradientType=0)
              progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #66999999,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbfbfb,endColorstr=#ffe8e8e8,GradientType=0)
  progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #66999999,Positive = true);
  color:rgb(89,70,76);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}  

.series_email {
  position:absolute;
  top: 103px;
  left: 669px;
  color:rgb(51,51,51);
  font-style:italic;
  font-size:11px;
}

.series_email > input {
  background-color:transparent;
  width:19px;
  height:23px;
  padding: 0px 5px;
  border-color:rgb(224,230,237);
  border-width:1px;
  margin-bottom:0px;
  text-align: center;
  vertical-align: middle;
  /* Firefox v1.0+ */
  -moz-border-radius:3px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:3px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:3px ;
  border-style:solid;
  color:rgb(51,51,51);
  font-style:italic;
  font-size:11px;
}

.series_time {
  background-color: transparent;
  background-image: none;
  width:49px;
  height:23px;
  border-color:rgb(224,230,237);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:4px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:4px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:4px ;
  border-style:solid;
  padding: 0px 0px;
  color:rgb(51,51,51);
  font-style:italic;
  font-size:11px !important;
}

.series_data {
  position:absolute;
  top: 138px;
  left: 455px;
  font-size:11px;
  font-weight:bold;
  line-height:120%;
  color:rgb(51,51,51);
  text-align:left;
}

.series_data > p {
  margin: 10px 0px 7px 0px;
}

.series_data > input {
  width: 482px;
  height: 36px;
  padding: 0px 8px;
  background-color:rgb(255,255,255);
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  font-weight:bold;
  color:rgb(51,51,51);
}

.series_data > textarea {
  padding: 8px 8px;
  width: 482px;
  height: 182px;
  background-color:rgb(255,255,255);
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  color:rgb(51,51,51);
}

.series_data > select {
  background-color:rgb(255,255,255);
  width: 498px;
  height: 34px;
  padding: 5px 5px;
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  font-weight:bold;
  color:rgb(51,51,51);
}