// Place all the styles related to the CrankApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

body {
 /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: arial, sans-serif;
  width: 1208px;
  height:1436px;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(241,242,244)),color-stop(1, rgb(206,212,217)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  background-image:linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  border-color:rgb(200,206,215);
  border-width: 1px 1px 1px 0px;
  border-style:solid;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff1f2f4,endColorstr=#ffced4d9,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff1f2f4,endColorstr=#ffced4d9,GradientType=0);  
}

/* Top logo Bar */

#crankhead {
  height: 58px;
  background-color: #FFFFFF;
}

/* CrankApps logo */

#crank_apps_logo {
  position: absolute;
  top: 10px;
  left: 137px;
}

/* Sales Marker Logo */

#sales_marker_logo {
  position: absolute;
  top: 18px;
  left: 938px;
  height: 22px;
}

#sales_marker_logo > .powered_by {
  position:relative;
  top:0px;
  font-size: 12px;
  color:rgb(173,173,173);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px 1px 0px rgba(255,255,255,0.65);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true);
}

#sales_marker_logo > span {
  position:relative;
  top:2px;
  font-size: 16px;
  color:rgba(153,153,153,0.6);
}

#sales_marker_logo > span.marker {
  font-weight: bold;
}

/* Blue nav bar */

.cranknav {
  width: 1201px;
  height: 39px;
  left: 0px;
  background: #1bc4ff;
  background: -moz-linear-gradient(top,  #1bc4ff 0%, #0a96d2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc4ff), color-stop(100%,#0a96d2));
  background: -webkit-linear-gradient(top,  #1bc4ff 0%,#0a96d2 100%);
  background: -o-linear-gradient(top,  #1bc4ff 0%,#0a96d2 100%);
  background: -ms-linear-gradient(top,  #1bc4ff 0%,#0a96d2 100%);
  background: linear-gradient(to bottom,  #1bc4ff 0%,#0a96d2 100%);
  border-color:rgb(18,116,157);
  border-width:1px 1px 1px 0px;
  border-style:solid;
    /* Firefox v1.0+ */
  -moz-border-radius-topright:2px;
  -moz-border-radius-bottomright:2px;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;  
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1bc4ff,endColorstr=#ff0a96d2,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1bc4ff,endColorstr=#ff0a96d2,GradientType=0);

}

#login {
  position: absolute;
  top: 64px;
  left: 963px;
  width: 200px;
}

 #login > .userpic {
   border-color: white;
   border-width: 1px;
   border-style: solid;
 }

 #login > .username {
  position:relative;
  left:5px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;

  color:rgb(255,255,255);

  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
 }

#login > .white-arrow-down {
  position:relative;
  left:5px;
  top:12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;

    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.3);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}


/* Left side navigation */

.leftnav {
  background-color:rgb(250,250,250);
  position:absolute;
  left:0px;
  width:180px;
  height:1314px;
 // border-color:rgb(215,223,232);
 // border-width:1px;
 // border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 3px 0px rgba(206,212,217,0.45);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #73ced4d9,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #73ced4d9,Positive = true);
}

.leftnav.lefttop {
  position:relative;
  top: 0px;
  left: 0px;
  height: 80px;
}

#create_new {
  position:relative;
  top:19px;
  left:18px;
  width:118px;
  height:20px;
  padding: 10px 0px 10px 22px;
  text-align:left;
  font-size: 14px;
  font-weight: bold;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(241,242,244)),color-stop(1, rgb(206,212,217)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);
  background-image:linear-gradient(-90deg,rgb(241,242,244) 0%,rgb(206,212,217) 100%);

  border-color:rgb(200,206,215);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:4px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:4px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:4px ;
  border-style:solid;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff1f2f4,endColorstr=#ffced4d9,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff1f2f4,endColorstr=#ffced4d9,GradientType=0);
}

#create_new > .caret {
  position:relative;
  left:8px;
  top:1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(0,0,0); 

    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.3);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}
.leftnav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


.leftnav > ul li {
  height:26px;
  padding-top: 12px;
  color:#999999;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;

 
}

.leftnav > ul li div.icon {
  float: left;
  width: 42px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 13px 0px; 
}

.leftnav > ul li.briefcase div.icon {
  background-image: url(/assets/briefcase_icon_grey.png);
}

.leftnav > ul li.briefcase.active div.icon {
  background-image: url(/assets/briefcase_icon_blue.png);
}

.leftnav > ul li.bullseye div.icon {
  background-image: url(/assets/bullseye_icon_grey.png);
}

.leftnav > ul li.bullseye.active div.icon {
  background-image: url(/assets/bullseye_icon_blue.png);
}


.leftnav > ul li.active {
  height:28px;
  padding-top: 10px;
  color:#0B99D6;
  border-width: 2px 1px 1px 1px;
  border-color:rgb(215,223,232);
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 108%,color-stop(0, rgb(231,232,235)),color-stop(0.01, rgb(231,232,235)),color-stop(1, rgb(241,243,244)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);
  background-image:linear-gradient(-90deg,rgb(231,232,235) 0%,rgb(231,232,235) 1%,rgb(241,243,244) 100%);

  box-shadow: 0px 1px rgb(255,255,255) inset;

}

/* Main program */

.main {
  background-color:rgb(250,250,250);
  position:absolute;
  height:1338px;
  left:129px;
  width:800px;
  padding-left: 180px;

  border-color:rgb(215,223,232);
  border-width:0px 1px 0px 0px;
  border-style:solid;
}

#series_name {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(-42% -55% -90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,-42% -55%,-42% 2%,color-stop(0, rgba(231,232,235,0.4)),color-stop(0.01, rgba(231,232,235,0.4)),color-stop(1, rgba(241,243,244,0.4)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  background-image:linear-gradient(-90deg,rgba(231,232,235,0.4) 0%,rgba(231,232,235,0.4) 1%,rgba(241,243,244,0.4) 100%);
  width:799px;
  height:78px;
  border-color:rgba(215,223,232,0.4);
  border-width:1px;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.18);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 3px 0px rgba(206,212,217,0.18);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 3px 0px rgba(206,212,217,0.18);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66e7e8eb,endColorstr=#66f1f3f4,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #2eced4d9,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66e7e8eb,endColorstr=#66f1f3f4,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #2eced4d9,Positive = true);
}

#series_name input {
  padding: 0px 8px;
  background-color:rgb(255,255,255);
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  width:482px;
  height:39px;
  position:relative;
  left:18px;
  top:21px;
    /* Firefox v1.0+ */
  -moz-border-radius:1px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:1px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:1px ;

font-size:24px;
font-weight:bold;
line-height:120%;
//color:rgb(31,31,31);
text-align:left;
/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
text-shadow:0px 1px 0px rgba(255,255,255,0.65);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#a5ffffff,Positive=true);

}

#series_name input::-webkit-input-placeholder { color:#000; }
#series_name input::-moz-placeholder { color:#000; } /* firefox 19+ */

#series_name button {
  position:absolute;
  top:33px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(255,255,255);
  height:26px;

  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:2px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:2px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:2px ;
  border-style:solid;

}

#series_name #back {
  left:764px;
  width:52px;

  box-shadow: 0px 1px rgb(253,255,144) inset;

  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(241,243,79) 0%,rgb(160,162,1) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(241,243,79)),color-stop(1, rgb(160,162,1)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(241,243,79) 0%,rgb(160,162,1) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(241,243,79) 0%,rgb(160,162,1) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(241,243,79) 0%,rgb(160,162,1) 100%);
  background-image:linear-gradient(-90deg,rgb(241,243,79) 0%,rgb(160,162,1) 100%);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7cd12c,endColorstr=#ff5fa021,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7cd12c,endColorstr=#ff5fa021,GradientType=0);
  border-color:rgb(72,131,15);
}

#series_name #save {
  left:823px;
  width:52px;

  box-shadow: 0px 1px rgb(148,215,86) inset;

  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(124,209,44)),color-stop(1, rgb(95,160,33)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  background-image:linear-gradient(-90deg,rgb(124,209,44) 0%,rgb(95,160,33) 100%);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7cd12c,endColorstr=#ff5fa021,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7cd12c,endColorstr=#ff5fa021,GradientType=0);
  border-color:rgb(72,131,15);
}

#series_name #delete {
  left:882px;
  width:72px;

  box-shadow: 0px 1px rgb(230,102,77) inset;

  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(219,36,0)),color-stop(1, rgb(165,19,5)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  background-image:linear-gradient(-90deg,rgb(219,36,0) 0%,rgb(165,19,5) 100%);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdb2400,endColorstr=#ffa51305,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdb2400,endColorstr=#ffa51305,GradientType=0);
  border-color:rgb(140,19,0);
}

#series_day_list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#series_day_list ul > li {
  position:relative;

}

#series_day_list ul > li {
  background-color:rgb(249,249,249);
  width:248px;
  height:63px;
  border-color:rgb(224,230,237);
  border-width:0px 1px 1px 1px;
  border-style:solid;
}

#series_day_list ul > li.active {
  border-color:rgb(224,230,237) rgb(249,249,249) rgb(224,230,237) rgb(224,230,237);
}

#series_day_list ul > li > img.edit {
  position:absolute;
  left:60px;
  top:20px;
}

#series_day_list ul > li > img.delete {
  position:absolute;
  left:125px;
  top:20px;
}

#series_day_list ul > li.hovered > div {
  opacity: 0.1;
}

#series_day_list ul > li > .series_day {
  position:absolute;
  top: 20px;
  left: 21px;
  width: 46px;
  height: 20px;
  color:rgb(153,153,153);
  font-style:italic;
  font-size:12px;
}

#series_day_list ul > li > .series_subject {
  position:absolute;
  left: 98px;
  top: 20px;
 // height: 20px;
  vertical-align:bottom;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(11,153,214);
  text-align:left;
}

#series_day_list ul > li.active > .series_subject {
  font-weight:bold;
  color:rgb(51,51,51);
}

#series_day_list ul > li > button {
  position: relative;
  top: 19px;
  left: 45px;
  font-size: 13px;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,50% 0%,50% 81%,color-stop(0, rgb(251,251,251)),color-stop(1, rgb(232,232,232)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  background-image:linear-gradient(-90deg,rgb(251,251,251) 0%,rgb(232,232,232) 100%);
  width:160px;
  height:30px;
  border-color:rgba(0,0,0,0.2);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:3px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:3px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:3px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 2px 0px rgba(153,153,153,0.4);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 2px 0px rgba(153,153,153,0.4);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 2px 0px rgba(153,153,153,0.4);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbfbfb,endColorstr=#ffe8e8e8,GradientType=0)
              progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #66999999,Positive = true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbfbfb,endColorstr=#ffe8e8e8,GradientType=0)
  progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #66999999,Positive = true);
  color:rgb(89,70,76);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}  

#series_email {
  position:absolute;
  top: 102px;
  left: 673px;
  color:rgb(51,51,51);
  font-style:italic;
  font-size:12px;
}

#series_email .email {
  position:relative;
  top:0px;
  left:0px;
}

#series_email #day_input {
  position:relative;
  top:0px;
  left:4px;
  background-color:transparent;
  width:19px;
  height:21px;
  padding: 0px 5px;
  border-color:rgb(224,230,237);
  border-width:1px;
  margin-bottom:0px;
  text-align: center;
  vertical-align: middle;
  /* Firefox v1.0+ */
  -moz-border-radius:2px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:2px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:2px ;
  border-style:solid;
  color:rgb(51,51,51);
  font-style:italic;
  font-size:11px;
}

#series_email .at {
  position:relative;
  top:0px;
  left:8px;
  right:8px;
}

#series_email > div > div {
  position:relative;
  top:0px;
  left:14px;
}

#series_email .series_time > .btn {
  position:relative;
  top:0px;
  left:0px;
  background-color: transparent;
  background-image: none;
  width:52px;
  height:23px;
  border-color:rgb(224,230,237);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:2px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:2px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:2px 2px 2px 2px 2px 2px 2px 2px;
  border-style:solid;
  padding: 0px 0px;
  color:rgb(51,51,51);
  font-style:italic;
  font-size:11px !important;
}

#series_email .series_time > .btn > .caret {
  position:relative;
  left:3px;
  top:0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(204,204,204); 

    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.3);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}

#series_data {
  position:absolute;
  top: 136px;
  left: 457px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(51,51,51);
  text-align:left;
}

#series_data p {
  position:absolute;
  font-weight: bold;
  width: 482px;
  padding-left: 2px;
}

#series_data p.subject_label {
  top:8px;
}

#series_data input {
  width: 482px;
  height: 34px;
  padding: 0px 8px;
  position:absolute;
  top:28px;
  background-color:rgb(255,255,255);
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  font-weight:bold;
  color:rgb(51,51,51);    
  /* Firefox v1.0+ */
  -moz-border-radius:1px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:1px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:1px ;
}

#series_data p.email_label {
  top:88px;
}

#series_data textarea {
  padding: 8px 8px;
  width: 482px;
  height: 182px;
  position:absolute;
  font-size: 12px;
  top:108px;
  background-color:rgb(255,255,255);
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  color:rgb(51,51,51);    
  /* Firefox v1.0+ */
  -moz-border-radius:1px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:1px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:1px ;
  resize: none;
}

#series_data p.content_label {
  top:328px;
}

#series_data .content_select {
    position:absolute;
    top:348px;
}

#series_data .content_select > .btn {
  background-color:rgb(255,255,255);
  width: 498px;
  height: 36px;
  padding: 3px 7px;
  border-color:rgb(224,230,237);
  border-width:1px;
  border-style:solid;
  font-weight:bold;
  text-align:left;
  background-color: transparent;
  background-image: none;
  color:rgb(51,51,51);
      /* Firefox v1.0+ */
  -moz-border-radius:1px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:1px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:1px ;
}

#series_data .content_select > .btn > .caret {
  position:relative;
  float:right;
  right:2px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(204,204,204); 

    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  text-shadow:0px -1px 0px rgba(0,0,0,0.3);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#33000000,Positive=true);
}



#campaign_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#campaign_list > li {
  background-color:rgb(249,249,249);
  width:248px;
  height:63px;
  border-color:rgb(224,230,237);
  border-width:0px 1px 1px 0px;
  border-style:solid;
}


#campaign_list > li > p {
  position:relative;
 // left: 49px;
  top: 20px;
  font-size:12px;
  font-weight:bold;
  line-height:120%;
  color:rgb(11,153,214);
  text-align:center;
}

.grumpy_no {
  width:200px;
  height:200px;
}

