<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="crankhead">
      <img src="assets/crank_apps_logo.png" id="crank_apps_logo" >
      <div id="sales_marker_logo">
        <span class="powered_by">Powered by</span>
        <span class="sales_marker">SalesMarker</span>
      </div>
    <!--  <img src="assets/powered_by_sales_marker.png" id="powered_by_sales_marker"> -->
    </div>
    <div class="cranknav">
      <div id="login">
        <img src="assets/matts_mug.png">Matt Bradley<span class="white-arrow-down"></span>
      </div>
    </div>
    <div class="main">
      <span class="leftnav">
        <div class="leftnav lefttop">
          <div class="btn-group">
            <a id="create_new" class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
              Create New
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
        </div>
        <div class="leftnav leftbottom">
          <ul>
            <li class="briefcase active"><div class="icon"></div>Campaigns</li>
            <li class="bullseye"><div class="icon"></div>Leads</li>
          </ul>
        </div>
      </span>
      <div class="series_name">
        <input type="text" placeholder="Add name for series">
        <button id="save">Save</button>
        <button id="delete" >Delete</button>
      </div>
      <div class="series_details">
        <ul>
          <li class="active"><span class="series_day">Day 1</span><span class="series_title">Routing with BGP</span></li>
          <li><span class="series_day">Day 2</span><span class="series_title">Switching for Pros</span></li>
          <li><span class="series_day">Day 3</span><span class="series_title">Advanced Mesh Networks</span></li>
          <li class="clicked"><span class="series_day">Day 4</span><span class="series_title">Routing with BGP</span></li>
          <li><button>Add a new page</button></li>
        </ul>
      </div>
      <div class="series_email">
        Send email on day
        &nbsp; 
        <input type="text" size="3" value="1"></input> 
        &nbsp;
        at 
        &nbsp;
        <div class="btn-group">
          <button class="btn dropdown-toggle series_time" data-toggle="dropdown">2pm <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">1am</a></li>
              <li><a href="#">2am</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">11pm</a></li>
            </ul>
        </div>
        <div class="btn-group">
          <button class="btn dropdown-toggle series_time" data-toggle="dropdown">PST <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">DST</a></li>
              <li><a href="#">GMT</a></li>
            </ul>
        </div>
      </div>
      <div class="series_data">
        <p>Subject</p>
        <input type="text" value="Routing with BGP"></text>
        <p>Email Message</p>
        <textarea>Routing with BGP is amazing. </textarea>
        <p>Select content to send</p>
        <select>
          <option>Cisco 6500 Router</option>
          <option>Cisco 7200 Router</option>
          <option selected>Cisco 7500 Router</option>
          <option>Cisco 7600 Router</option>
        </select>
      <div>
   </div> 
  </body>
</html>